doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet',href='/javascripts/lib/growl/stylesheets/jquery.growl.css')
    body
        block content
